@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@import url("reset.css");

body {
    font-family: "Sen", sans-serif;
    color: #3c221c;
    display: flex;
}

.darkblue {
    background-color: #293473;
    color: white;
}

.blue {
    background-color: #32489d;
    color: white;
}

.lightblue {
    background-color: #697fbf;
    color: #14194a;
}

.brightred {
    background-color: #f25c5c;
    color: white;
}

.lightpink {
    background-color: #f2d5d5;
    color: #293473;
}

form,
textarea {
    background-color: inherit;
    border: none;
}

section.memoList {
    width: 200px;
    padding: 25px 0 0 25px;
}

section.memoList li {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

section.memoList .circle {
    margin-right: 0.5rem;
    width: 15px;
    height: 15px;
    display: inline-block;
}

section.memoSection {
    width: 80vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

div.post {
    width: 350px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    left: 400px;
    position: absolute;
    z-index: 0;
}

div.post header {
    padding: 10px;
}

div.post header.postHeader img {
    width: 13px;
    margin-right: 3px;
}

div.post .postHeader {
    padding: 15px 15px 5px 15px;
}

div.post textarea {
    padding: 0 15px;
    width: 100%;
    font-family: inherit;
    min-height: 250px;
    color: inherit;
}

div.post textarea:focus {
    outline: none;
}

div.contextMenu {
    position: absolute;
    font-size: 0.8rem;
    border: 1px solid gray;
    z-index: 100;
    background-color: white;
    transform: scale(0);
    opacity: 0;
}

div.contextMenu li.contextItem {
    padding: 10px;
}

li.bgLi:hover {
    background-color: #f25c5c;
    color: white;
    cursor: pointer;
}

li.colorLi div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid white;
    box-sizing: content-box;
    cursor: pointer !important;
}

li.colorLi div:hover {
    box-shadow: 0 0 0 1px #f25c5c;
}

li.colorLi {
    margin-top: 10px;
    display: inline-block;
}

li.bgLi {
    padding: 10px;
}

div.menuShow {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
}

div.login {
    width: 250px;
    padding: 15px;
    border: 1px solid gray;
    height: 200px;
    position: absolute;
    z-index: 60;
    background-color: white;
    right: 100px;
    top: 100px;
}

div.login input {
    border: 1px solid gray;
    margin: 10px 0;
}

input[type="submit"] {
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 0;
    border: 0;
    outline: none;
}
