@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('reset.css');

body {
  font-family: 'Sen', sans-serif;
  color:#3C221C;
  display: flex;
}

.darkblue{
  background-color: #293473;
  color:white;
}

.blue{
  background-color: #32489D;
  color:white;
}

.lightblue{
  background-color: #697FBF;
  color:#14194A;
}

.brightred{
    background-color: #F25C5C;
    color:white;
}

.lightpink{
    background-color: #F2D5D5;
    color:#293473;
}


form, textarea{
  background-color: inherit;
  border:none;
}


section.memoList{
  width:200px;
}

section.memoList li{
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

section.memoList .circle{
  margin-right:0.5rem;
  width:15px;
  height:15px;
  display: inline-block;
}

/* section.memos{
  width:85%;
  padding:2rem;
} */

section.memoSection{
  width:85vw;
  height:100vh;
}

a {
  text-decoration:none;

}

div.post{
  width: 350px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  position: absolute;
  z-index: 0;
}


div.post header.postHeader img{
  width:13px;
  margin-right: 3px;
  
}

div.post .postHeader{
  padding: 10px 10px 5px 10px;
}

div.post textarea{
  padding: 0 10px;
  width:100%;
  font-family: inherit;
  min-height: 250px;
  color:inherit;
}

div.post textarea:focus{
  outline:none;

}

div.contextMenu,
div.bgMenu{
  position: absolute;
  font-size: 0.8rem;
  border:1px solid gray;
  z-index: 100;
  background-color:white;
  transform:scale(0);
  opacity: 0;
}

div.menuShow{
  opacity: 1;
  transform:scale(1);
  transform-origin: top left;
}

div.contextMenu li.contextItem{
  padding:10px;
}

/* div.contextMenu li.contextItem:hover{
  background-color: #F25C5C;
  color:white;
} */

li.colorLi div{
  width:15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

li.colorLi div:hover{
	border:1px solid gray;
}

li.colorLi{
  margin-top: 10px;
  display: inline-block;
}

div.bgMenu li{
  padding:10px;
}